@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Stalinist+One&subset=latin,cyrillic);

/*============================================================
        general
============================================================*/
body {
    background: url(../images/surf.jpg) top no-repeat;
}

a {
    text-decoration: none;
}

.base-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    
    max-width: 1000px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.base-container > * {
    flex: 1 100%;
}

.header {
    height: 70px;
    background-color: #996666;
}

.aside {
    background-color: #333333;
    max-width: 250px;
}

.social-icons {
    position: relative;
    text-align: center;
    top: -25px;
}

.main {
    position: relative;
    top: -55px;
    min-height: 450px;
    background-color: #333333;
}

.footer {
    font-family: 'Ubuntu Mono';
    border: 3px solid #333333;
    background-color: #666699;
    color: #cccccc;
    padding: 3px;
}

#avatar {
    position:relative;
    top: -35px;
    left: 35px;
    border: 4px double #996666;
    border-radius: 5px 25px 5px 25px;
}

/*============================================================
        tabs with content...
============================================================*/
.tabs {
    list-style: none;
}

.tabs li {
    float: left;
}

.tabs input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.tabs label {
    display: block;
    position: relative;
    top: 3px;
    font-family: 'Ubuntu Mono';
    font-size: 18px;
    color: #996666;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tabs label:hover {
    background-color:  #333333;
    color: #669933;
    top: -1px;
}

[id^=tab]:checked + label {
    background-color:  #333333;
    color: #66cc00;
    top: -1px;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}

.tab-content {
    display: none;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    color: #669933;
    font-family: 'Stalinist One', cursive;
    font-size: 14px;
    text-align: center;
    line-height: 2em;
    padding: 15px;
    border-left: 3px dashed #996666;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/*============================================================
        media queries
============================================================*/
@media all and (min-width: 720px) {
    .main   { flex: 3 0px; }
    .aside  { order: 1; }
    .main   { order: 2; }
    .footer { order: 3; }
}

@media all and (max-width: 719px) {
    .aside { max-width: 719px; }
    .social-icons { text-align: right; }
    
    #avatar { left: 45px; }
    #facebook-icon, #github-icon {
        display: block;
        position: relative;
        top: -160px;
        right: 45px;
    }
}

/*============================================================
        contact
============================================================*/
#tab-content_contact {
    font-size: 13px;
    text-align: left;
}

.contact {
    width: 55%;
    margin: 15px;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 75%;
    font-family: 'Ubuntu Mono';
    color: #cccccc;
	margin: 10px;
	padding: 5px;
	background: rgba(215,206,202, 0.2);
	border: none;
}

.contact-form input[type="submit"] {
    width: 65px;
    height: 25px;
    font-family: 'Stalinist One', cursive;
    font-size: 12px;
    background-color: #996666;
    color: #333333;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    color: #cccccc;
}

.contact-form textarea {
    height: 100px;
}